.input {
            margin-bottom: 1.5rem;
            padding-right: 2rem;
        }

        .input label {
            display: block;
            margin-bottom: 0.5rem;
            font-weight: 500;
            color: var(--dark);
        }

        .form-control{
            width: 100%;
            padding: 0.75rem;
            border: 1px solid #ddd;
            border-radius: 5px;
            font-size: 1rem;
            transition: border-color 0.3s;
        }

        .form-control:focus {
            outline: none;
            border-color: var(--primary);
        }
        @media (max-width:720px)
        {

            .input{
               padding-right: 0;
            }
        }
        @media (max-width:480px)
        {

            .input{
               padding-right: 1rem;
            }
        }