
 .auth-wrapper{
   min-height: 100vh;  
   min-width: 100vw;       
   background:linear-gradient(-45deg, #0e131e, #2d4e88, #102b5e, #1f60d1);
  background-size: 400% 400%;
  animation: gradientBG 50s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
 }

 .button-wrapper{
  display: flex;
  justify-content: center;
 }

.auth-container {
  width: 480px;
  max-width: 600px;
  background-color: rgb(237, 237, 237);
  border-radius: 10px;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
   .auth-body {
    
            padding: 2rem;
        }


.error-text {
  color: red;
  font-size: 0.9rem;
  margin-top: 0.5rem;
  text-align: center;
}
.success-text {
  color: rgb(47, 255, 0);
  font-size: 0.9rem;
  margin-top: 0.5rem;
  text-align: center;
}
.error-text,
.success-text {
  opacity: 1;
  transition: opacity 0.2s ;
}

.fade {
  opacity: 0;
}


@media (max-width: 768px) {
  .auth-container {
   
    min-height: 350px;
  }
}

@media (max-width: 480px) {
  .auth-container {
    width: 100%;
    
    margin: 0 auto;
    min-height: 300px;
  }

  .auth-body {
    padding: 0.5rem 0;
    gap: 0.75rem;
  }
}
@keyframes gradientBG {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}