.dashboard-wrapper {
    background-color:aliceblue;
  display: flex;
  width: 100vw;
  height: 100vh;
}
.main-area {
  left: min(max(70px, calc(100vw * 0.25)), 240px);
  position: sticky;
padding-top:6%
}
.main-content {
  margin-left: 4%;
  padding-top: 1.5rem;
}

.stats-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  margin-top: 2rem;
}

@media(max-width:1000px){
    .main-area {
padding-top:8%
}
}
@media (max-width: 768px) {
  .main-area {
    left: 80px;
    padding-top:10%;
  }
}
@media (max-width: 480px) {
  .main-area {
    left: 0;
    padding-top:15%;
  }
}
