.layout {
  display: flex;
  width: 100%;
  min-height: 100vh;
  height: max-content;
  overflow-x: hidden;
}

.main {
 margin-left: clamp(70px, 25vw, 220px);
  position: relative;
  padding-top: 6%;
  flex: 1;
   max-width: 100%; 
  overflow-x: hidden;
}
.content {
  margin-left: 6%;
  margin-right: 2%;
  padding-top: 1.5rem;
  max-width: 100%;
 
}

/* ---------- Responsive ---------- */


@media (max-width: 1401px) {
  .main {
    padding-top: 6%;
  }

}
@media (max-width: 1205px) {
  .main {
    padding-top: 5%;
  }

}
@media (max-width: 1000px) {
  .main {
    margin-left: 24%;
    padding-top: 10%;
  }
}

@media (max-width: 768px) {
  .main {
    margin-left: 80px;
    padding-top: 10%;
  }
}

@media (max-width: 520px) {
  .main {
    margin-left: 0;
    width: 100%;
    padding-top: 12%;
  }
}
