.profile-page {
  max-width: 600px;
  min-width: 500px;
  margin: 0px auto;
  padding: 24px;
  background-color: var(--card-bg);
  color: var(--text-color);
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.12);
}

.profile-page h2 {
  text-align: center;
  margin-bottom: 24px;
}

.profile-section {
  margin-bottom: 32px;
  padding: 16px;
  border-radius: 8px;
  background-color: var(--bg-color);
 
}

.profile-section h4 {
  margin-bottom: 16px;
}

.profile-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.profile-field label {
  font-weight: 600;
}

.profile-field span {
  color: var(--text-color);
}

.profile-field input {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  flex: 1;
  margin-left: 12px;
}

.profile-actions {
  margin-top: 10px;
  display: flex;
  gap: 8px;
  justify-content: center;
}
.profile-image-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.profile-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ddd;
}

.change-image-btn {
  margin-top: 10px;
  font-size: 14px;
  color: #007bff;
  cursor: pointer;
}
  .user-role {
            display: inline-block;
            padding: 0.3rem 0.8rem;
            border-radius: 20px;
            font-size: 0.8rem;
            font-weight: 500;
            margin-top: 30px;
        }
