
.social-login {
  display: flex;
  flex-direction: row;     
  justify-content: center;  
  gap: 1rem;                
  margin-top: 1rem;
  flex-wrap: nowrap;         
}


.social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;              
  padding:1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: all 0.3s;
  width: 30%;
  background-color: white;
}


.social-btn:hover {
  background-color: #e8e8e8;
}

/* Logo images */
.social-logo {
  width: 32px;     
  height: auto;     
}

/* Font icons */
.social-icon {
  font-size: 24px;  
}

.social-btn.google {
  border-color: #db4437;

}

.social-btn.facebook {
  border-color: #1877f2;
  
}

.social-btn.github {
  border-color: #333;
}


