
        
        .stat-card {
            background-color: rgb(255, 255, 255);
            border-radius: 8px;
            padding: 1.5rem;
            box-shadow: 0 5px 15px rgba(0,0,0,0.2);
            position: relative;
            overflow: hidden;
            min-width: 200px;
            margin-bottom: 30px;
            /* text-wrap: nowrap; */
            
        }
        
        .stat-card::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 4px;
            height: 100%;
            background-color: var(--primary);
        }
        
        .stat-card.sales::before {
            background-color: var(--success);
        }
        
        .stat-card.customer::before {
            background-color: var(--info);
        }
        
        .stat-card.inventory::before {
            background-color: var(--warning);
        }


.stat-card.user::before {
    background-color: #4caf50; /* Green - Users */
}

.stat-card.admin::before {
    background-color: #f44336; /* Red - Admins */
}

.stat-card.owner::before {
    background-color: #2196f3; /* Blue - Owners */
}

.stat-card.staff::before {
    background-color: #ff9800; /* Orange - Staff */
}

        
        .stat-card h3 {
            font-size: 0.9rem;
            color: var(--gray);
           
            margin-bottom: 0.5rem;
        }
        
        .stat-card .value {
            color: rgb(28, 28, 28);
            font-size: 1.5rem;
            font-weight: 700;
            margin-bottom: 0.5rem;
        }
        
        .stat-card .change {
            font-size: 0.8rem;
            display: flex;
            align-items: center;
        }
        
        .change.positive {
            color: var(--success);
        }
        
        .change.negative {
            color: var(--danger);
        }
        
        .change icon {
            margin-right: 5px;
        }
        @media (max-width: 480px) {
            .stat-card {
                margin-bottom: 30px;
                 max-width: 95%;
           padding: 1rem;
           
            }
        }