.sales-content-wrapper {
  display: flex;
  gap: 20px;
  margin-top: 1rem;
}

.sales-left {
  flex: 3; /* table takes most space */
}

.sales-right {
  flex: 1; /* top sales card on right */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
