.sales-content-wrapper {
  display: flex;
  gap: 20px;
  margin-top: 1rem;
}

.sales-left {
  flex: 3; 
}

.sales-right {
  flex: 1; 
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
 gap:0px;
}