.navbar-wrapper {
width: calc(87.5vw - clamp(70px, 25vw, 10px));
  position: fixed;
  top: 0;

  transition: all 0.3s ease;
  z-index: 500;
}

.navbar {
  background-color: rgb(255, 255, 255);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 500;
  width: 100%;
  transition: all 0.3s ease;
  height: 70px;
}
.navbar-logo img {
  display: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: var(--light);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  width: 300px;
  font-weight: bold; 
}

.search-bar input {
  border: none;
  background: transparent;
  width: 100%;
  padding: 0.3rem;
  outline: none;

}

.search-bar .search-icon {
  color: var(--dark);
  margin-right: 10px;
}

.navbar-left {
  display: flex;
  gap: 14px;
}

.user-menu {
  display: flex;
  align-items: center;
}
.user-menu .notification {
  position: relative;
  margin-right: 1.5rem;

}
.notification .badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: var(--danger);
  color: white;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

 .notification .notification-panel {
  position: absolute;
  top: 0;
  right: 28px;
  border-radius: 4px;
  background-color: var(--gray);
  width: 280px;
  height: max-content;
  color: var(--light);
  text-align: center;
  padding: 10px;
 
} 

.notification-header {
  padding: 10px 15px;
}

.notification-header h3 {
  padding-bottom: 5px;
  font-size: 16px;
  font-weight: bold;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2); 
}

.notification-item {
 text-align: start;
  padding: 10px 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.109); 
}
.notification-item:last-child {
  border-bottom: none; 
}

.notification-item p {
  margin: 0;
  font-size: 14px;
color:var(--light);
  width: 100%;
}



.user-menu .user-profile {
  position: relative;
  color:black;
  
}

.user-menu .icon {
  display: inline-block;
  cursor: pointer;

  border-radius: 50%;
  box-sizing: border-box;
  transition: all 0.2s;
}
.user-menu .icon:hover {
  box-shadow: 0 0 1px 8.5px rgba(0, 0, 0, 0.061);
  background-color: rgba(0, 0, 0, 0.061);
}

.hamburger {
  display: none;
}

@media (max-width: 768px) {
  .search-bar {
    width: 200px;
  }
  .navbar-wrapper {
    width: calc(100vw - 80px);
  }
  .navbar {
    max-width: calc(100vw - 80px);
  }
}
@media (max-width: 520px) {
  .navbar-logo img {
    display: flex;
  }
  .search-bar {
    width: 150px;
  }
  .navbar-wrapper {
    left:0;
    width: 100vw;
  }
  .navbar {
    max-width: 100vw;
  
  }
  .hamburger {
    display: flex;
  }
   .notification .notification-panel {
  top:48px;
  right: 1px;
  padding: 10px;
} 

}
