.inventory-stats-wrapper {
  background-color: white;
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  margin-bottom: 1.5rem;
}

.inventory-stats-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #eee;
}

.inventory-stats-header h3 {
  font-size: 1.1rem;
  color: var(--secondary);
}

.inventory-stats .stat {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid #eee;
}

.inventory-stats .stat:last-child {
  border-bottom: none;
}

.progress-bar{
  
}

.stat-icon {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  font-size: 1.2rem;
}

.image-wrapper {
  margin: 5px;
  border-radius: 12px;
  padding: 5px;
}

.stat-icon.sales {
  background-color: rgba(46, 204, 113, 0.1);
  color: var(--success);
}

.stat-icon.customers {
  background-color: rgba(52, 152, 219, 0.1);
  color: var(--primary);
}

.stat-icon.inventory {
  background-color: rgba(155, 89, 182, 0.1);
  color: #9b59b6;
}

.stat-info h4 {
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}

.stat-info p {
  font-size: 0.8rem;
  color: var(--gray);
}
