
:root {
  --primary: #3498db;
  --secondary: #203c6a;
  --accent: #e74c3c;
  --light: #ecf0f1;
  --dark: #2c3e50;
  --success: #2ecc71;
  --warning: #f39c12;
  --danger: #e74c3c;
  --info: #1abc9c;
  --gray:#273746;

   
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

}
body {
 
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
