.landing-navbar{
       min-width: 100vw;
   color:var(--primary);
    background-color:rgb(243, 243, 243);
    box-shadow:0 2px 10px rgba(0, 0, 0, 0.16);
    z-index: 100;
}  
.navbar-content{
    display: flex;
    justify-content: space-between;
    width: 100vw;
}


.logo{
    display: flex;
   text-align: center;
    align-items: center;
}
.logo img{
    height:45px ;
    margin-right: 20px;
   
}
.logo-title{
    display: flex;
    flex-direction: column;
}
.logo-title p{
    color:var(--dark);
    font-size: 0.6rem;
}
h1 a {
    text-decoration: none;
    color:var(--primary);
}
.nav-links{
    display: flex;
    align-items: center;
    list-style:none ;

}
.nav-links li{
    margin-left: 2rem;
}
.nav-links a {
    text-decoration: none;
    color:var(--dark);
    font-weight: 500;
    transition: color 0.2s;

}
.nav-links a:hover{
color:var(--primary)
}
.nav-buttons{
    display: flex;
    justify-content: center;
}

.landing-hamburger {
  display: none;
  padding-right: 7px;
}



@media (max-width: 768px) {
  .landing-hamburger {
    display: flex;
    cursor: pointer;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background: white;
    position: absolute;
    top: 60px; 
    left: 0;
    width: 100%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    padding: 1rem;
  }

  .nav-links.open {
    margin-top: 13px;
    max-width: 50%;
    display: flex; 
  }

  .nav-links li {
    margin: 1rem 0;
  }
}
