.stats-card {
  display: flex;
  gap: 30px;
 
  
}
.inventory-content {
  display: flex;
  gap: 20px;
  margin-top: 1rem;
}


.inventory-left {
  flex: 2;
}


.inventory-right {
  flex: 1; 
  display: flex;
  flex-direction: column;
 
}

